<div class="input_container">
    <label class="input_label" for="<%= name %>>"><%= name %></label>
    <% if (icon) { %>
        <%- include(`../../partials/icons/${icon}`) %>
    <% } %>

    <input placeholder="<%= name %>" title="<%= name %>" name="<%= name %>" type="<%= type %>" class="input_field"
           id="<%= name %>">
</div>
